kind: KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
clientConnection:
  kubeconfig: "/opt/openshift/auth/kubeconfig-loopback"
mode: "iptables"
clusterCIDR: "{{.ClusterNetwork}}"
